*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*============fonts===============*/
@font-face {
font-family: "bebasregular";
src: url("fonts/bebas___-webfont.eot");
src: url("fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/bebas___-webfont.woff") format("woff"),
url("fonts/bebas___-webfont.ttf") format("truetype"),
url("fonts/bebas___-webfont.svg#bebasregular") format("svg");
font-weight: normal;
font-style: normal;
}
/* ============heder============*/
body{
  background: #f6f8fa;
}
header{
  background: #000;
    position: fixed;
    z-index: 22;
    width: 100%;
    transition: 1s;
}
header.logo_scroled{
  background: rgba(0,0,0, 0.9);
}
header .header_content{
   position: relative;
}
h1 img{
  width: 241px;
  height: 37px;
  transition: 1s;
}
header.logo_scroled .logo  h1{
  padding: 5px 0;
}
header.logo_scroled h1 img{
  width: 180px;
  height: 27px;
}
header .menu_button{
  line-height: 60px;
}
header .menu_button i{
  cursor: pointer;
  font-size: 25px;
}
header .logo h1{
  text-align: center;
  padding: 10px 0;
}
header .socil_icons ul{
  float: right;
  margin-right: 15px;
}
header .socil_icons ul li{
  display: inline-block;
  line-height: 60px;

  transition: 1s;
}
header.logo_scroled .socil_icons ul li {
  line-height: 40px;

}
header.logo_scroled .socil_icons ul li a{
  width: 20px;
  height: 20px;
  line-height: 20px;

}
header.logo_scroled .socil_icons ul li a{
  font-size: 11px;
}
header .socil_icons ul li a{
  transition: 0.3s;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   color:#fff;
   font-weight: bold;
   margin-left: 5px;

   display: inline-block;
   border-radius: 50px;
   background: #333333;
}
header .socil_icons ul li:nth-child(1) a:hover{
    background-color: #3b5999;

}
header .socil_icons ul li:nth-child(2) a:hover{
    background-color: #55acef;

}
header .socil_icons ul li:nth-child(3) a:hover{
    background-color: #dd5347;

}


#headerback .rotoat{
  background: #252525;
  transform: skewX(-14deg);
  max-width: 1000px;
  margin:  auto;
  padding: 20px 0;
}

nav.header_nav>ul>li>a{
  transition: 1s;
 
  font-family: "bebasregular";
  font-weight: normal;
  color: #fff;
  font-style: italic; 
  margin-bottom: 4px;
  display: inline-block; 
  /*border-bottom: 2px solid #cf0000;*/
  position: relative;
}
nav.header_nav>ul>li>a:hover:after {
  
  bottom: 10px;
  height: 4px;
  opacity: 0;
}
nav.header_nav>ul>li>a:after{
  transition: 0.2s;
   position: absolute;
   content: '';
   height: 2px;
   width: 100%;
   background: #cf0000;
   bottom: 0;
   left: 0px;
}
nav.header_nav>ul>li{
  width: 300px;
  display: inline-block;
  margin-top: 14px;

  height: 140px;
 
}
nav.header_nav>ul>li>ul{
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 124px;

}
nav.header_nav>ul>li>ul>li a{
  transition: 0.5s;
  transition:left 0.2s linear;
  left: 0;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
nav.header_nav>ul>li>ul>li a:hover{
  left:10px;
} 
nav.header_nav>ul>li>ul>li a:hover:after{
   transform: translateX(0%);
} 
nav.header_nav>ul>li>ul>li a:after{
        height: 2px;
        transition: 0.25s;
    content: '';
    width: 100%;
    transform: translateX(-101%);
    background: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
nav.header_nav>ul>li>ul>li{
   margin:6px 0;

}
#headerback{
    background: #000;
    width: 100%;
     display: none;
    z-index: -1 ;
    border-bottom: 3px solid #680000;
}
nav.header_nav{
  max-width: 910px;
  margin: auto;
  margin-left: 92px;
  transform: skewX(14deg);
}
#butnMenu{
 
}
/*button*/
header.logo_scroled .rotoatbuton{
  margin-top: 5px;
}
.rotoatbuton{
    width: 30px;
      height: 30px;
      position: relative;
      perspective: 1000px;
          margin-top: 15px;
}
#butnMenu{
  width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
            transition: 0.5s;
}
.front{
  position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            font-style: 30px;
            text-align: center;
            line-height: 30px;

}
#butnMenu:hover{
  color: #680000;
}
.back{
  position: absolute;
            width: 100%;
            height: 100%;
            font-size: 30px;
            text-align: center;
           background: #000;
            transform: rotateX( 180deg );
}
#butnMenu.flipped {
  transform: rotateX( 180deg );
}

/*end header*/
/*   slider*/
.slider .item{
  height: 400px;
}
.slider{
  background: #1a1a1a;
}
/* AD*/
.AD{
  height: 90px;
  width: 500px;
  background: black;
  margin: 20px auto;
}

/* first_section  */
  
.title_ctegory{
      border-bottom: 4px solid #CF0000;
    font-family: 'bebasregular';
    font-size: 20px;
    word-spacing: 2px;
  }
.title_ctegory a{
    color: #000;
  } 

         /*first_section > left_aside  */
.first_section .aside .tumbnail{
  float: left;
  width: 135px;
  height: 99px;
  position: relative;
}
.first_section .aside .tumbnail img{
  width: 100%;
  height: 100%;
}
.first_section .aside .tumbnail .post_title a {
  color: #fff;
  font-family: 'bebasregular';
  font-size: 12px;

}
.first_section .aside .tumbnail .post_title {
  position: absolute;
  padding: 4px;
  width: 100%;
  background: rgba(207,0,0, 0.7);
  left: 0;
  bottom: 0;
   
}
.first_section .aside p{
 display: inline-block;
  padding: 2px 0 4px 10px ;
  height: 96px;
  width: 127px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.first_section .aside p a:hover{
   text-decoration: none;
   color: #195a9a;
}
.first_section .aside p a{
  color:#036;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  display: inline-block;
  
  height: 99px; 
}
.first_section .aside h3{
  float: right;
}
.first_section .aside .post{
 padding-bottom: 15px;
 margin-top: 15px;
 border-bottom: 2px  dotted #000;
}
     /*end first_section > left_aside  */
     /*start first_section > mane  */
.first_section .mane_content img{
  width: 100%;
  height: 100%;
}
.first_section .mane_content .mane_post_img .title a{
  color: #fff;
  display: block;
  font-size: 24px;
 font-family: 'bebasregular';
 font-weight: normal;
 font-style: italic;
}
.first_section .mane_content .mane_post_img .title{
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  background: rgba(207,0,0, 0.7);
}
.first_section .mane_content .mane_post_img{
  position: relative;
  height: 200px;
}
.first_section .mane_content .mane_post p{
    color: #003366;
    font-size: 20px;
    font-weight: bold;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-top: 8px;
        max-height: 80px;
        overflow: hidden;
}
.first_section .mane_content .mane_post .card__date{
  display: inline-block;
  padding-left: 15px;
  color: #8c8484;
  font-size: 13px;
}
.first_section .mane_content .mane_post .byline{
  margin-top: 10px;
  margin-bottom: 25px;
}
.first_section .mane_content .mane_post .author{
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 15px;
    font-size: 13px;
    
  }
.first_section .mane_content .mane_post .author a{
    color: #cf0000;
  }
.deparatpr{
  height: 40px;
  margin-bottom: 25px;
  background: #eff2f5;
}


/*  content slider*/

/* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            height: 200px;
        }
        .content_slider >div h3{
           position: absolute;
           left: 5px;
           bottom: 10px;

        }
        .content_slider >div h3 a{
           color: #fff;
           text-decoration: none;
           text-transform: capitalize;
           font-size: 16px;
             background: rgba(0,0,0, .8);
             font-family:arial,helvetica,sans-serif,verdana,'Open Sans'"
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
        #jssor_1{
            position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:200px;overflow:hidden;visibility:hidden;
        }
        .jssorl-009-spin{
            position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            
        }
        .content_slider{
            cursor:default;position:relative;top:0px;left:0px;width:980px;height:180px;overflow:hidden;
    }
 /*category=======================*/
 .ctegory_title h2 a{
   font-size: 24px;
   color: #000;
   font-weight: bold;
   text-transform: uppercase;
    font-family: "bebasregular";
 }
  .ctegory_title h2{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    position: relative;
    z-index: 2;
    background: #f6f8fa;
    padding: 0 20px 0 0;
    
  }
  .ctegory_title{
  position: relative;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  }
  .ctegory_title:after{
    content: '';
    height: 1px;
    width: 100%;
    background: #ccc;
    top: 37%;
    position: absolute;
    left: 0;
  }
  .ctegory_title >a{
    float: right;
    vertical-align: middle;
    line-height: 27px;
    vertical-align: middle;
    display: inline-block;
    font-size: 17px;
    color: #000;
    text-transform: capitalize;
    font-family: "bebasregular";
    position: relative;
    z-index: 2;
    background:#f6f8fa;
    padding: 0 0 0 20px;
    }
  .category_wrap .post img{
    width: 100%;
    height: 260px;
  } 
 .category_wrap .post.small_post img{
  height: 132px;
 }
.category_wrap .post h3{
  padding: 14px 4px;
}
.category_wrap .post h3 a{
  font-size: 20px;
    color: #000;
   font-family: sans-serif;
   font-weight: bold;
    text-transform: lowercase;

      
}

.category_wrap {

}
.category_wrap  .card__date{
  display: inline-block;
  padding-left: 5px;
  color: #8c8484;
  font-size: 13px;
}
.category_wrap  .byline{
  margin-bottom: 25px;
  margin-left: 4px;
}
.category_wrap  .author{
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    font-size: 13px;
    
  }


US News
World News
Highline
Crime
Business
Tech
Green
Weird News
The Scope
.category_wrap   .author a{
    color: #cf0000;
  }
  /*footer=======*/
footer{
  background: #1a1a1a;
  margin-top: 60px;
}
footer .row>ul>li{
  border-left: 1px solid #ccc;
}
footer .row>ul{
  padding: 30px 0;
}
footer .row>ul>li {
  margin-bottom: 30px;
}
footer .row>ul>li > a{
   font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: normal;
    font-family: "bebasregular";
}
footer .row>ul>li >ul >li >a{
   color: #fff;
   font-size: 13px;
   font-family: sans-serif;
   text-transform: uppercase;
   padding: 2px 0 0 5px;
   display: inline-block;
}
.copyright{
  border-top: 1px solid #000;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 20px 0;
}